<html>
    <head>
        <title>Todo System</title>
        <link rel="stylesheet" href="./static/semantic.min.css" type="text/css">
        <script src="./static/semantic.min.js"></script>
    </head>
    <body>
        <br>
        <article class="ui container" id="app">
            <h1>My Todo App 1</h1>
            <strong>서로 할 일이나 의견을 공유해 봅시다.</strong>
            <hr>

            <div class="inputBox ui center aligned container">
                <div class="ui large input">
                    <input class="name" type="text" placeholder="name .." v-model="name">
                </div>
                <div class="ui big input">
                    <input class="item" type="text" placeholder="type anything.." 
                    v-model="newTodoItem" v-on:keyup.enter="add_todo()">
                </div>
                <button v-on:click="add_todo()">Add</button>
            </div>

            <ul class="todoList">
                <li v-for="(todo, index) in todoItems">
                    <span>{{ todo.name }}:: {{ todo.item }}</span>
                    <span class="removeBtn" v-on:click="remove_todo(index)">&#x00D7</span>
                </li>
            </ul>

        </article>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    name: '',
                    newTodoItem: '',
                    todoItems:[
                        {name: '이동현', item: 'Vue.js 연동으로 서비스를 만들어 보아요.'},
                        {name: '이동현', item: 'Vue.js 연동으로 서비스를 만듭니다.'},
                        {name: '이동현', item: 'Vue.js 연동으로 그냥 만드네요.'},
                        {name: '이동현', item: 'Vue.js 고기반찬'},
                    ],
                },
                methods: {
                    add_todo: function() {
                        console.log("add todo() ..")
                        if (this.name == '') this.name = '이동현';
                        if (this.newTodoItem == '') return;
                        this.todoItems.push({name: this.name, item: this.newTodoItem})
                        this.name = '';
                        this.newTodoItem = '';
                    },
                    remove_todo: function(index) {
                        console.log("remove_todo..");
                        this.todoItems.splice(index, 1);80
                    }
                },
            })
        </script>
    </body>
</html>